.vscode
*.exe
*.old
*.ilk
*.pdb
build/
*.o
*.obj
.shu
*.shu
*.log

example
exampleclang
examplegcc
examplemsvc
buildAll

examples/*/shuild
examples/*/example
examples/*/exampleDebug
examples/*/exampleRelease
examples/4_folder_structures/4_folder_structures
examples/3_main_arguments/3_main_arguments